<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <title>Employee page</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style6.css">
</head>

<body>
<header role="banner">
    <h1>Employee Page</h1>
    <ul class="utilities">
        <br>
        <li class="logout warn"><a href="/employee_page/log_out">Log Out</a></li>
    </ul>
</header>

<nav role='navigation'>
    <ul class="main">
        <li class="See users"><a href="/employee_page/employee_add_products">Add product</a></li>
        <li class="write"><a href="#">Write news</a></li>
        <li class="users"><a href="/employee_page/employee_see_products">Manage Products</a></li>
        <li class="users"><a href="#">Manage Reviews</a></li>
    </ul>
</nav>

<div th:unless="${empty}">
    <main role="main">

        <section class="panel important">
            <h1>Table Employee</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Review</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each ="user: ${users}">
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.description}">Description</td>
                    <td th:text="${user.review}">Review</td>
                    <td th:text="${user.stock}">Stock</td>
                    <td th:text="${user.category}">Category</td>
                    <td th:text="${user.price}">Price</td>
                    <td>
                        <form method="POST" action="/employee_page/delete_product">
                            <input type="hidden" name = "productId" th:value="${user.id}">
                            <button type="submit" class="delete-button">Delete product</button>
                        </form>
                        <form method="POST" action="/employee_page/edit_product">
                            <input type="hidden" name = "productId" th:value="${user.id}">
                            <button type="submit" class="edit-button">Edit product</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>

        </section>

    </main>
</div>
</body>
</html>